name: Build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:
  workflow_call:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-latest,  name: "Linux",   script: "linux"   }
          - { os: macos-latest,   name: "macOS",   script: "macos"   }
          - { os: windows-latest, name: "Windows", script: "windows" }

    runs-on: ${{ matrix.os }}  
    name: ${{ matrix.name }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0
      
      - name: Grab version
        shell: bash
        run: |
          tag_name=$(git describe --tags --abbrev=0)
          echo "VERSION=$tag_name" >> $GITHUB_ENV

      - name: Build
        shell: bash
        run: ./${{ matrix.script }}.sh

      - name: Upload x64 AppImage
        if: matrix.name == 'Linux'
        uses: actions/upload-artifact@v6
        with:
          name: "AppImage (x64)"
          path: artifacts/ryujinx*x64.AppImage*

      - name: Upload arm64 AppImage
        if: matrix.name == 'Linux'
        uses: actions/upload-artifact@v6
        with:
          name: "AppImage (arm64)"
          path: artifacts/ryujinx*arm64.AppImage*

      - name: Upload x64 zip
        if: matrix.name != 'macOS'
        uses: actions/upload-artifact@v6
        with:
          name: "${{ matrix.name }} (x64)"
          path: artifacts/Ryujinx-${{ env.VERSION }}-x64

      - name: Upload arm64 zip
        if: matrix.name != 'macOS'
        uses: actions/upload-artifact@v6
        with:
          name: "${{ matrix.name }} (arm64)"
          path: artifacts/Ryujinx-${{ env.VERSION }}-arm64

      - name: Upload universal app
        if: matrix.name == 'macOS'
        uses: actions/upload-artifact@v6
        with:
          name: "macOS (universal)"
          path: artifacts/Ryujinx.zip
